.Mus img{
    display: block;
    height: 220px;
    width: 180px;
}
 .M img{
   height: 220px;
   width: 180px;
 }
 .lp img{
    height: 220px;
    width: 180px;
 }
 body{
    background-color: rosybrown
 }
 h2{
    color: azure;
 }
.M img{
   height: 220px;
   width: 180px;
 }
 .lp img{
    height: 220px;
    width: 180px;
 }
 

